<!doctype html>
<html>
	<head>
		<title>SoundClowning Around</title>
		<style>
			body {
				font-family: sans-serif;
				max-width: 60em;
				margin: 0 auto;
			}
			code.block {
				display: block;
				white-space: pre-wrap;
				background: black;
				color: white;
				padding: 1em;
			}
		</style>
	</head>
	<body>
		<h1>SoundClowning Around</h1>
		<p>Authenticated as {{me.username}}</p>
		<!-- <h2>Track Data</h2>
		<code class="block">{{track_data}}</code> -->
		{{#each tracks}}
			<div class="track" data-id="{{this.id}}">
				<h3>{{this.title}}</h3>
				<p>{{this.description}}</p>
				<p><a href="{{this.stream_url}}">Stream Link</a></p>
			</div>
		{{/each}}
		<h2>Empty Audio Element</h2>
		<audio controls></audio> <!-- src="{{track.stream_url}}" -->
	</body>
</html>
